.ourServices {
  margin-top: 150px;

  .ourServicesContainer {
    display: flex;
    justify-content: space-between; // Adjusts children to each end

    .ourServicesTitle {
      @include text-size-h2;
      line-height: 134.9%; /* 64.752px */
    }

    .ourServicesContainerArrow {
      display: flex;
      align-items: center;
      gap: 36px;

      .ourServicesContainerArrowRight {
        transform: rotate(180deg);
      }
    }
  }

  .ourServicesContainerSecond {
    display: flex;
    gap: 41px;

    .ourServicesContainerSecondImgContainer {
      flex-direction: column;

      & img {
        width: 527px;
        height: 416px;
      }

      & p {
        margin: 0;
        margin-top: 16px;
        color: #362e2c;
        font-family: Gilroy;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 46.8px */
      }
    }
  }

  .lol {
    position: relative;
    top: 24px;
    z-index: 100;
   
  }
}
