.buttonControlsWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start; // Default alignment to the left
  border: none; // Removes default button border
  padding: 0; // Resets default button padding
  background: none; // Removes default background
  cursor: pointer; // Changes cursor to pointer on hover

  &:focus {
    outline: none; // Removes default focus outline
  }
}

.flexEnd {
  justify-content: flex-end; // Aligns the button to the right
}

.buttonControls {
  display: inline-flex;
  padding: 13px 24px;
  gap: 10px;
  border-radius: 100px;
  background: var(--primary, #f16835);
  align-items: center;
}

.buttonControlsContainer {
  display: flex;
  align-items: center;
  height: 34px;
  align-items: center;
  gap: -6px;
  justify-content: flex-end;
}

.buttonControlsText {
  color: #fff;
  font-family: Gilroy;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
