@mixin edit-operators-table-row {
  display: grid;
  grid-template-columns: 50px 1fr 70px;
  align-items: center;
}

.table {
  margin-top: 40px;
  width: min(100%, 870px);
  padding-bottom: 100px;
}

.tableHeader {
  @include edit-operators-table-row;
  margin-bottom: 6px;
  border-bottom: 1px solid var(--color-border-primary);
}

.tableHeaderCell {
  @include table-header-cell;
  min-width: 0;
}

.tableRow {
  @include edit-operators-table-row;
  border-bottom: 1px solid var(--color-blue-light);
  user-select: none;
  transition: transform 0.3s ease;
  gap: 16px;
  margin: 16px;
}

.tableCell {
  @include table-cell;
  min-width: 0;
  display: flex;
  align-items: center;
}

.tableCellPriority {
  background-color: var(--color-text-active);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px !important;
  height: 0px !important;
  font-size: 0.9em;
  padding: 10px !important;
  color: var(--color-text-contrast);
  margin: auto;
}

.tableCellName {
  @include text-size-body-2;
  padding: 13px 8px;
  color: var(--color-text-primary);
  border: 1px solid var(--color-border-primary);
  background-color: var(--color-bg-primary);
}

.actionCell {
  align-items: flex-end;
  gap: 16px;
}

.moveIcon {
  cursor: grab;
}

.trashButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  padding: 7px;
  cursor: pointer;

  &:hover path {
    stroke: var(--color-blue);
  }
}

.prioritySelect {
  width: min(100%, 300px);
}
