@import '@/css/variables';

@font-face {
  font-family: 'Gilroy';
  src: url('../../assets/fonts/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'), url('../../assets/fonts/Gilroy-Regular.woff') format('woff'),
    url('../../assets/fonts/Gilroy-Regular.ttf') format('truetype');
}

* {
  font-family: 'Gilroy', 'Heebo', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  font-family: 'Gilroy', 'Heebo', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 127px 0 127px;
  overflow-x: hidden;
}
